@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --main-color-1: rgba(247, 247, 247, 0.795);
  --main-color-2: rgb(150, 111, 51);
  --main-color-3: rgba(94, 40, 40, 0.795);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 100em) {
    font-size: 55%;
  }
  @media only screen and (max-width: 78.12em) {
    font-size: 50%;
  }
}
body {
  font-family: "Bebas Neue", cursive;
  background-color: var(--main-color-2);
  color: var(--main-color-1);
}
.container {
  padding: 1rem;
  @media only screen and (max-width: 22.5em) {
    padding: 0;
  }
}

.btn {
  display: inline-block;
  position: relative;
  color: var(--main-color-1);
  padding: 0 2rem;
  @media only screen and (max-width: 31.25em) {
    width: 90%;
    text-align: center;
    padding: 0;
  }
  &:hover::before {
    border-color: var(--main-color-3);
    border-width: 0.4rem;
  }

  &::before {
    content: "";
    right: 0;
    position: absolute;
    margin: 0.3rem auto;
    border: 0.2rem solid var(--main-color-1);
    height: 80%;
    width: 100%;
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--main-color-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  @media only screen and (max-width: 31.25em) {
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  &_logo {
    height: 5rem;
    margin-left: 5rem;
    animation-name: fadein;
    animation-duration: 1000ms;
    backface-visibility: hidden;
    animation-timing-function: ease-in-out;
    @media only screen and (max-width: 31.25em) {
      margin-left: 0;
    }
  }
  &_links {
    display: flex;
    font-size: 5rem;
    justify-content: flex-end;
    @media only screen and (max-width: 31.25em) {
      font-size: 4rem;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      text-align: center;
    }
  }
  &_button {
    padding-right: 3.5rem;
    list-style: none;
    @media only screen and (max-width: 31.25em) {
      width: 100%;
      padding: 0;
    }
  }
}
@keyframes fadein {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}
.footer {
  height: 20rem;
  margin: 15rem -1rem -1rem -1rem;
  background-color: var(--main-color-3);
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &_logo {
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &_number {
    font-size: 2rem;
  }
}
